<div class='row auth'>

	<div class='col s12'>
		<ul class='tabs'>
			<li class='tab col s3 offset-s3'><a href='#login'>Sign in</a></li>
			<li class='tab col s3'><a href='#register'>Sing up</a></li>
		</ul>
	</div>

	<div id='login' class='col s6 offset-s3'>
		<form action='/auth/login' method='get'>
			<div class='input-field'>
				<input id='login-email' name='email' type='email' class='validate' required />
				<label for='login-email'>Email</label>
				<span class='helper-text' data-error='Input email'></span>
			</div>

			<div class='input-field'>
				<input id='login-password' name='password' type='password' class='validate' required min='6' />
				<label for='login-password'>Password</label>
				<span class='helper-text' data-error='Input password'></span>
			</div>

			<button type='submit' class='btn btn-primary'>Login</button>
		</form>
	</div>

	<div id='register' class='col s6 offset-s3'>
		<form action='/auth/register' method='POST'>
			<div class='input-field'>
				<input id='name' name='name' type='text' class='validate' required min='1' />
				<label for='name'>Name</label>
				<span class='helper-text' data-error='Input your name'></span>
			</div>

			<div class='input-field'>
				<input id='reg-email' name='email' type='email' class='validate' required />
				<label for='reg-email'>Email</label>
				<span class='helper-text' data-error='Input email'></span>
			</div>

			<div class='input-field'>
				<input id='reg-password' name='password' type='password' class='validate' required min='6' />
				<label for='reg-password'>Password</label>
				<span class='helper-text' data-error='Input password'></span>
			</div>

			<div class='input-field'>
				<input id='confirm-password' name='repeat' type='password' class='validate' required min='6' />
				<label for='confirm-password'>Confirm password</label>
				<span class='helper-text' data-error='Input password'></span>
			</div>

			<button type='submit' class='btn btn-primary'>Register</button>
		</form>
	</div>
</div>