.nav-wrapper {
  padding: 0 2rem;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.course-edit-form {
  margin-bottom: 1rem;
}

.cart-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li::marker {
  content: none;
}

.auth {
  padding-top: 20px;
}

.error {
  display: none;
}

.brand-logo {
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  max-height: 100%;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
